/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
.advantages__box {
    display: flex;
    gap: 20px;
   margin-bottom: 8px;
   position: relative;
}

.advantages-title {
    margin-left: 139px;
}

.advantages__photo {
    width: auto;
    height: 180px;
   
}

.advantages__border {
    position: absolute;
    width: 163px;
    height: 23px;
    top: 165px;
    left: -10px;
}

    .advantages-list__item {
    font-weight: 400;
    font-size: 8px;
    color: #000;
}

.advantages-list {
    display: flex;
    flex-direction: column;
 justify-content: space-between;
 height: 185px;
}

.advantages__button-box{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.advantages__button {
    color: #FFF;
        font-size: 10px;
       
        font-weight: 700;
      
        width: 82px;
        height: 24.1px;
        background-color: #E3117F;
        border: none;
        margin-bottom: 10px;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 1),
        rgba(233, 233, 234, 1));
        position: relative;
}
.about-title {
font-weight: 400;
    color: #000;
        font-size: 20px;
        margin-bottom: 13px;
}
.about__text {
    color: #000;
        font-size: 9px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        
}

.about__border{
    position: absolute;
    top: 15px;
    max-height: 100px;
   
}


}

@media screen and (min-width: 768px) {

.advantages__box {
        display: flex;
        gap: 90px;
        margin-bottom: 35px;
        position: relative;
    }

    .advantages-title {
        margin-left: 440px;
margin-top: 35px;
margin-bottom: 35px;
    }

    .advantages__photo {
        width: auto;
        height: 493px;

    }

    .advantages__border {
        position: absolute;
        width: 445px;
        height: 143px;
        top: 385px;
        left: -25px;
    
    }

    .advantages-list__item {
        font-weight: 400;
        font-size: 21px;
        color: #000;
    }

    .advantages-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 493px;
        padding-right: 50px;
    }

    .advantages__button-box {
        display: flex;
        justify-content: center;
        margin-bottom: 3px;
    }

    .advantages__button {
        color: #FFF;
        font-size: 21px;

        font-weight: 700;

        width: 182px;
        height: 60px;
        background-color: #E3117F;
        border: none;
        margin-bottom: 20px;
    }

    .about-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(255, 255, 255, 1),
                rgba(233, 233, 234, 1));
        position: relative;
        padding-bottom: 35px;
    }

    .about-title {
        font-weight: 400;
        color: #000;
        font-size: 49px;
        margin-bottom: 35px;
    }

    .about__text {
        color: #000;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
text-align: center;
    }

    .about__border {
        position: absolute;
        width: 1150px;
        height: 274px;
        top: 40px;
        left: 19px;
    }

}
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
    
}