/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
.bonus__desc {
    color: #000;
        
        font-size: 9px;
       
        font-weight: 400;
}
      
.bonus__title {
    margin-bottom: 0px;
    margin-top: 11px;
}

.bonus {
    position: relative;
}

.bonus__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonus__border {
    position: absolute;
    height: 60px;
    width: 320px;
    top: -5px;
    left: 40px;
}

}


/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
    .bonus {
        background: #E9E9EA;
        padding-bottom: 35px;
        position: relative;
       
    }
.bonus__desc {
        color: #000;

        font-weight: 400;
    }

    .bonus__title {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    
    .bonus__box {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
    
    }

    .bonus__border {
        position: absolute;
        width: 700px;
        top: -20px;
        left: 220px;
    }

   
}