/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {

.course {
    background: #E9E9EA;
}
.course__box {
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course__list {
    list-style: none;
}
.course__program {
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    justify-content: space-around;
}

.course__block {
        font-size: 13px;
            
            font-weight: 700;
           
            margin-bottom: 12px;
}
.course__block-list {
    padding-top: 0px;
    margin-left: 15px;
    margin-bottom: 12px;
}
.course__block-desc {
    font-size: 9px;
        
        font-weight: 700;
       color: #000;
}
.course__block-item {
    color: #000;
       
        font-size: 9px;
       
        font-weight: 400;
}
.course__description {
    color: #000;
       
        font-size: 10px;
       
        font-weight: 400;
   
        text-align: center;
}

.course__img {
    padding: 0;
    margin: 0;
    height: 500px;
}

}