/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
    .hero {
   background: linear-gradient(90deg, #FFF 0%, #E9E9EA 41.66%);
    }

    .hero__box {
        display: flex;
        position: relative;
        
    }
    .hero__text-box {
        padding-top: 37px;
        padding-bottom: 19px;
        padding-left: 18px;
    }

    .hero__logo {
        width: 200px;
        height: auto;
        margin-bottom: 14px;
    }

    .hero__title {
        color: #000;
            font-size: 20px;
           
            font-weight: 400;
          
            margin-bottom: 12px;
            
    }

       .hero__description {
        color: #000;
            font-size: 9px;
          
            font-weight: 400;
           
       }


       .hero__border {
        position: absolute;
        top: 98px;
        left: 63px;
        width: 170px;
            height: auto;
       }


       .hero__photo {
        width: auto;
        height: 230px;
    position: absolute;
    left: 200px;
    bottom: 0px;

       }
}

/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
.hero {
        background: linear-gradient(90deg, #FFF 0%, #E9E9EA 41.66%);

        margin-bottom: 12px;
       
    }

    .hero__box {
        display: flex;
        position: relative;

    }

    .hero__text-box {
        padding-top: 87px;
        padding-bottom: 97px;
        padding-left: 103px;
    }

    .hero__logo {
        width: 602px;
        height: auto;
        margin-bottom: 100px;
    }

    .hero__title {
        color: #000;
        font-size: 49px;

        font-weight: 400;

        margin-bottom: 34px;

    }

    .hero__description {
        color: #000;
        font-size: 28px;

        font-weight: 400;

    }


    .hero__border {
        position: absolute;
        top: 304px;
        left: 250px;
       width: 520px;
    
    }


    .hero__photo {
        width: auto;
        height: 700px;
        position: absolute;
        left: 603px;
        bottom: 0px;

    }

                
}


@media screen and (min-width: 1200px) {


}