/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
    .teacher__box {
            display: flex;
            position: relative;
      }
    
        .teacher__img {
        width: 122px;
        height: 182px;
        margin-right: 5px;
        }

        .teacher__border {
            position: absolute;
            width: 130px;
                height: 23px;
                top: 165px;
        }

        .teacher__bio {
            color: #000;
                font-family: Inter;
                font-size: 7px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 5px 13px 5px 10px;
        }

        .teacher__set {
            width: 183px;
            height: 87px;
            padding-left: 10px;
        }
}
/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {


.teacher {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-shadow: rgb(214, 159, 198) 1px 0 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher-img {
    max-width: 500px;
    margin-right: 30px;
    margin-bottom: 20px;
}

     .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
    }
        .clients-list__item {
            flex-basis: calc((100% - 60px) / 3);
        }
    
        .clients-list__link {
            display: flex;
            justify-content: center;
            align-items: center;
            fill: #AFB1B8;
            border: 1px solid rgba(175, 177, 184, 1);
            height: 92px;
            border-radius: 4px;
        }
    }
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
   .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
}

.teacher {
    display: flex;
    flex-wrap: nowrap;
}

.clients-list__link {
    transition: var(--transition-main);

&:hover,
&:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}
}
}