/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
      .page-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .page-header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }

    .page-nav {
    display: flex;
    align-items: center;
    }

        .menu {
            display: flex;
            align-items: center;
            list-style: none;
        }

                 .menu__item {
                     margin-right: 10px;
                 }
 .menu__link {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: #212121;
     padding-top: 32px;
     padding-bottom: 33px;
 }

   .contacts-box {
       display: flex;
       flex-direction: column;
       margin-left: auto;
       gap: 10px;

   }

   .contact-e-mail,
   .contact-phone-number {
       font-weight: 500;
       font-size: 12px;
       line-height: 1.14;
       letter-spacing: 0.02em;
       color: #757575;
       display: inline-flex;
       align-items: center;

   }

}

/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
.page-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .page-header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .menu__item:not(:last-child) {
        margin-right: 20px;
    }

    .menu__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .contacts-box {
        display: flex;
        margin-left: auto;
        gap: 10px;

    }

    .contact-e-mail,
    .contact-phone-number {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        display: inline-flex;
        align-items: center;

    }
      .page-header__logo {
        margin-right: 50px;
    }
      
       
}

/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
.page-header-box {
        padding-top: 24px;
        padding-bottom: 24px;
}

.page-header__logo {
    margin-right: 93px;
}

.contacts-box {
    display: inline;
    justify-content: center;
}

.menu__link {
    padding-bottom: 32px;
    transition: var(--transition-main);

    &:hover {
    color: var(--accent-color);
}
    &:focus {
    color: var(--accent-color);
    }
}

.contact-e-mail {
    margin-right: 50px;
}

.contact-e-mail,
.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: inline-flex;
    align-items: center;
    transition: var(--transition-main);

    &:hover {
        color: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
    }
}
}
