/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
.section-title {
    color: #E3117F;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 12px;
}
}
/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
    .section-title {
    color: #E3117F;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 12px;
}
}
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
    .section-title {
    color: #E3117F;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 12px;
    }
}